<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081723585588-enfp703ubjq8qkm9r763ertd1ejaho4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081723585588-enfp703ubjq8qkm9r763ertd1ejaho4t</string>
	<key>API_KEY</key>
	<string>AIzaSyAfTv7kFcjzSBAhdHVpy4CevJ4wKCSOwcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1081723585588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gendai.stage</string>
	<key>PROJECT_ID</key>
	<string>gendai</string>
	<key>STORAGE_BUCKET</key>
	<string>gendai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081723585588:ios:7107c6380dfaddf4</string>
	<key>DATABASE_URL</key>
	<string>https://gendai.firebaseio.com</string>
</dict>
</plist>